.selector-container {
  transform: scale(1);
  width: var(--width);
  border-collapse: collapse;
  table-layout: fixed;
  background: #444;
  color: #fff;
  font-family: "Andale Mono";
  border-radius: 100px;
  cursor: pointer;
}

.selector-position-off,
.selector-position-on {
  position: absolute;
  background: #ffffff6f;
  border-radius: 40px;
  transform: translate(2px, 1.5px);
  width: calc(var(--width) / 2 - 3.5px);
  height: 25px;
  transition: all 0.2s;
}

.selector-position-on {
  transform: translate(calc(var(--width) / 2), 1.5px);
}

.selector-container tbody tr td {
  padding-top: 6px;
  padding-bottom: 6px;
}
